[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
elasticsearch = "==7.13.4"
kafka-python = "*"

[dev-packages]

[requires]
python_version = "3.10"
